@tailwind base;
@tailwind components;
@tailwind utilities;

#event {
  padding-top: 6.5rem;
}
#explore {
  padding-top: 6.5rem;
}

.indigo_bg {
  background: #6366f1;
  transition: ease 0.3s;
}

.hero__height {
  height: calc(100vh - 80px);
}

.text-red-hero {
  color: rgba(255, 83, 71, 255);
}
.text-blue-hero {
  color: rgba(71, 77, 155, 255);
}

.indigo_bg:hover {
  background: #4f46e5;
}

.custom-loader {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, #766df4);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
}

.pagination__btn {
  border: 1px solid black;
  width: 2.25rem;
  border-radius: 0.25rem;
  text-align: center;
}

.active {
  color: white;
  background: #000;
}

.toast {
  background: white;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 25%;
  transition: ease 0.6s;
}

.toast_close {
  opacity: 0;
  transform: translateX(200px);
}

@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}

/* my css */
.headroom {
  position: relative;
  z-index: 99999;
}

.img__hero-container {
  animation-name: fadeIn;
  animation-duration: 2s;
  position: relative;
  height: calc(100vh - 80px);
}

.hero__content {
  animation: fadeInUpBig;
  animation-duration: 2s;
}

.img__hero {
  position: relative;
  right: 10px;
  z-index: 1;
}
.round {
  position: absolute;
  height: 300px;
  width: 300px;
  left: 0;
  bottom: -120px;
  border-radius: 50%;
  border: 60px solid #e5e7eb;
}
.round-2 {
  position: absolute;
  height: 200px;
  width: 200px;
  top: 0;
  border-radius: 50%;
  border: 60px solid #e5e7eb;
}

.triangle {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 200px;
  height: 200px;
  transform: rotate(60deg);
}

.line-left {
  height: 300px;
  width: 3px;
  background-color: #e5e7eb;
  transform-origin: bottom left;
  transform: rotate(60deg);
}
.line-right {
  height: 300px;
  width: 3px;
  background-color: #e5e7eb;
  transform-origin: top left;
  transform: rotate(-59deg);
}
.line-bottom {
  height: 300px;
  width: 3px;
  background-color: #e5e7eb;
  transform: translateX(2px);
}

.triangle-2 {
  position: absolute;
  top: 60px;
  left: 50px;
  width: 200px;
  height: 200px;
  transform: rotate(60deg);
}

.touch {
  position: absolute;
  width: 80px;
  height: 60px;
  bottom: 90px;

  right: 0px;
  background: #9ca3af;
}
.touch-2 {
  position: absolute;
  width: 80px;
  height: 60px;
  bottom: 60px;
  right: 10px;
  background: #d1d5db;
  opacity: 80%;
}

.category-card {
  background-size: 135%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 250ms linear;
}

.category-card:hover {
  background-size: 140%;
}

/* responsive */

@media screen and (max-width: 1024px) {
  .hero__container {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    width: 100%;
    padding: 2.5rem 1.5rem 0;
    justify-content: space-around;
  }
  .hero__height {
    height: auto;
  }
  .img__hero-container {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: end;
  }
  .img__hero {
    animation: fadeInUpBig;
    animation-duration: 2s;
    position: static;
  }
  .hero__content {
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 2s;
    width: 90%;
  }

  .round-2 {
    right: 0;
  }
}
@media screen and (max-width: 640px) {
  .hero__container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    width: 100%;
    padding: 2.5rem 1.5rem 0;
    justify-content: space-around;
  }
  .hero__height {
    height: auto;
  }
  .img__hero-container {
    height: 60vh;
    width: 100%;
    justify-content: center;
  }
  .img__hero {
    position: static;
    width: 300px;
    animation: fadeInUpBig;
    animation-duration: 2s;
  }
  .hero__content {
    margin-top: 0;
    margin-bottom: 0;
    text-align: start;
    position: relative;
    z-index: 1;
    animation-name: fadeIn;
    animation-duration: 2s;
    width: 90%;
  }

  .round-2 {
    right: -6rem;
    top: -8rem;
  }
}

/* end responsive */
/* end  mycss*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
body {
  font-family: var(--font-poppins);
}
